<div class="home-github">
    <!-- GitHub actions -->
    <a class="github-button"
       href="https://github.com/Deerainy/HNU-SE-notes"
       data-icon="octicon-star"
       data-size="large"
       data-show-count="true"
       aria-label="Star Deerainy/HNU-SE-notes on GitHub">
      Star
    </a>
  
    <a class="github-button"
       href="https://github.com/Deerainy/HNU-SE-notes/fork"
       data-icon="octicon-repo-forked"
       data-size="large"
       data-show-count="true"
       aria-label="Fork Deerainy/HNU-SE-notes on GitHub">
      Fork
    </a>
  </div>
  
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  
<!-- {% include "partials/home-github.html" %} -->